<tr>
  <td><%= format_crawl_time(crawl.crawl_time) %></td>
  <td><%= crawl.resp_time_ms %> ms</td>
  <td><%= crawl.resp_size_kb %> kb</td>
  <td><%= crawl.resp_code %></td>
  <td><%= crawl.resp_status %></td>
</tr>