<div class="row justify-content-center">
  
<%= form_for @user, class: "col-6" do |f| %>
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control", placeholder: "username" %>
  </div>
  <div class="form-group">
    <%= f.label :password, "Password" %>
    <%= f.password_field :password, class: "form-control", placeholder: "at least 6 chars" %>
  </div>
  <div class="form-group">
    <%= f.label :email, "Email" %>
    <%= f.email_field :email, class: "form-control", placeholder: "your@email.com" %>
  </div>
  <div class="form-group">
    <%= f.label :time_zone, "Time Zone" %>
    <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, default: Time.zone.name, class: "custom-select" %>
  </div>
  
  <% if @user.new_record? %>
    <%= recaptcha_tags %>
    <br>
  <% end %>
  
  <%= f.submit "#{@user.new_record? ? 'Register' : 'Update'}", class: "btn btn-primary" %>
    
<% end %>
  
</div>