<div class="row justify-content-center">
  
<%= form_for [@user, @alert], class: "col-6" do |f| %>
  <div class="form-group row">
    <%= f.label :name, "Alert Name" %>
    <%= f.text_field :name, class: "form-control", placeholder: "Some Name" %>
  </div>
  <div class="form-group row">
    <%= f.label :url, "URL" %>
    <%= f.url_field :url, class: "form-control", placeholder: "http://domain.com" %>
  </div>
  <div class="form-group row">
    <%= f.label :crawl_interval_mins, "Crawl Interval (mins)" %>
    <% opts = [["10", 10], ["30", 30], ["60", 60]] %>
    <%= f.select :crawl_interval_mins, opts, {}, class: "form-control col-2" %>
  </div>
  <div class="form-group row">
    <%= f.label :response_time_threshold_ms, "Response Time Threshold (ms)" %>
    <%= f.number_field :response_time_threshold_ms, class: "form-control", placeholder: "time in milliseconds" %>
  </div>
  <div class="form-group row align-items-center">
    <%= f.label :active, "Active?", class: "col-form-label" %>
    <%= f.check_box :active, class: "col-1" %>
  </div>
  <div class="form-group row">
    <%= f.label :notify_emails, "Notification Emails:" %>
    <%= f.text_area :notify_emails, class: "form-control", placeholder: "separate each email with a comma" %>
  </div>
  <div class="form-group row">
    <%= f.submit "#{@alert.new_record? ? 'Create' : 'Update'}", class: "btn btn-primary" %>
  </div>
<% end %>

</div>