<div class="mt-4 mb-4">
  <h3>
    <%= "Alert: #{@alert.name}" %>
    <small><%= link_to "(edit alert)", edit_user_alert_path(@user, @alert) %></small>
  </h3>
  <hr/>
</div>

<table class="table table-sm alert-table">
  <%= render "alert_table_head", alert: @alert %>
  
  <tbody>
    <%= render "alert", alert: @alert %>
  </tbody>
</table>

<div id="crawl-history">
  <h4>Crawl History:</h4>
  
  <table class="table table-sm">
    <thead>
      <tr>
        <th>Time</th>
        <th>Resp. Time</th>
        <th>Resp. Size</th>
        <th>Code</th>
        <th>Status</th>
      </tr>
    </thead>
    
    <tbody>
      <% @alert.crawls.each do |crawl| %>
        <%= render "crawls/crawl", crawl: crawl %>
      <% end %>
    </tbody>
  </table>
</div>