<nav class="nav">
  
  <% home_path = logged_in? ? user_alerts_path(current_user) : root_path %>
  <li class="nav-item">
    <%= link_to "Web_Monitor", home_path, class: "navbar-brand mb-0 h1" %>
  </li>

<% if logged_in? %>
  <li class="nav-item">
    <%= link_to 'My Alerts', user_alerts_path(current_user), class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to '+ New Alert', new_user_alert_path(current_user), class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Edit Profile', edit_user_path(current_user), class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Log Out', logout_path, class: "nav-link" %>
  </li>
<% else %>
  <li class="nav-item">
    <%= link_to 'Register', register_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Log In", login_path, class: "nav-link" %>
  </li>
<% end %>

</nav>

