<nav class="nav justify-content-between">
  
  <% home_path = logged_in? ? user_alerts_path(current_user) : root_path %>
  <%= link_to "Web_Monitor", home_path, class: "navbar-brand mb-0 h1 nav-item" %>

<% if logged_in? %>
  <%= link_to 'My Alerts', user_alerts_path(current_user), class: "nav-link nav-item" %>
  <%= link_to '+ New Alert', new_user_alert_path(current_user), class: "nav-link nav-item" %>
  <%= link_to 'Edit Profile', edit_user_path(current_user), class: "nav-link nav-item" %>
  <%= link_to 'Log Out', logout_path, class: "nav-link nav-item" %>
<% else %>
  <%= link_to 'Register', register_path, class: "nav-link nav-item" %>
  <%= link_to "Log In", login_path, class: "nav-link nav-item" %>
<% end %>

</nav>

