<!DOCTYPE html>
<html>
  <head>
    <title>RoR Website Monitoring Tool</title>
    <%= csrf_meta_tags %>
    <%#= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src='https://www.google.com/recaptcha/api.js'></script>
  </head>
  
  <header>
    <div class="container">
      <%= render 'layouts/navigation' %>
    </div>
  </header>

  <body>
    <div class="container">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  </body>
</html>
